<div class="default-content" data-template="default">
    <div class="default-header">
    </div>
~~~CONTENT~~~

<script>
	$('div.content').bind('showoff:show', function(event) {
	    showoffHelper.handleShow(event);
    });
</script>
