<div class="double-image-content" data-template="double-image">
    <div class="double-image-header">
    </div>
    <div class="double-image-wrapper">
    </div>
</div>
<div class="holder">
~~~CONTENT~~~
